<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}StayEase Hotel Management System{% endblock %}</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<body>

<div class="dashboard">

    <div class="sidebar">

        <h2>🏨 StayEase</h2>

        <ul>

            <li><a href="/dashboard">🏠 Dashboard</a></li>

            <li><a href="/booking">🛏️ Book Room</a></li>

            <li><a href="/bookings">📋 View Bookings</a></li>

            <li><a href="/rooms">🏨 Rooms</a></li>

            <li><a href="/billing">💳 Billing</a></li>
            <li><a href="/billing-history">📜 Billing History</a></li>

            <li><a href="{{ url_for('logout') }}">🚪 Logout</a></li>

        </ul>

    </div>

    <div class="main-content">
                    {% with messages = get_flashed_messages() %}
                     {% if messages %}
                     {% for message in messages %}

                     <div class="flash-message">
                     {{ message }}
                     </div>

                     {% endfor %}
                    {% endif %}
                    {% endwith %}

        {% block content %}
        {% endblock %}

    </div>

</div>

</body>
</html>